/* ==== GRID SYSTEM ==== */
.row {
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin-right: 1%;
}
.row [class^="col"]::last-child {
  margin-right: 0;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.hidden-xs {
  display: none;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  width: 100%;
}

.col-xs-1 {
  width: 4.33%;
}

.col-xs-2 {
  width: 12.66%;
}

.col-xs-3 {
  width: 21%;
}

.col-xs-4 {
  width: 29.33%;
}

.col-xs-5 {
  width: 37.66%;
}

.col-xs-6 {
  width: 49%;
}

.col-xs-7 {
  width: 54.33%;
}

.col-xs-8 {
  width: 62.66%;
}

.col-xs-9 {
  width: 71%;
}

.col-xs-10 {
  width: 79.33%;
}

.col-xs-11 {
  width: 87.66%;
}

.col-xs-12 {
  width: 96%;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
}

@media only screen and (min-width: 45em) {
  /* 720px */
  .row [class^="col"] {
    margin-right: 2%;
  }
  .col-md-1 {
    width: 4.33%;
  }

  .col-md-2 {
    width: 12.66%;
  }

  .col-md-3 {
    width: 23%;
  }

  .col-md-4 {
    width: 29.33%;
  }

  .col-md-5 {
    width: 37.66%;
  }

  .col-md-6 {
    width: 48%;
  }

  .col-md-7 {
    width: 54.33%;
  }

  .col-md-8 {
    width: 62.66%;
  }

  .col-md-9 {
    width: 74%;
  }

  .col-md-10 {
    width: 79.33%;
  }

  .col-md-11 {
    width: 87.66%;
  }

  .col-md-12 {
    width: 96%;
  }

  .hidden-xs {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
}

/* ==== FIELD ==== */
.field {
  margin-bottom: 10px;
}
.field label,
.field input[type="text"],
.field select {
  display: block;
  width: 100%;
}
.field label {
  font-weight: bold;
}
.field label::first-letter {
  text-transform: uppercase;
}
.field input[type="text"] {
  margin-top: 5px;
}
.field input[type="number"] {
  width: 5em;
}
@media only screen and (min-width: 45em) {
  .field input[type="text"] {
    margin-top: 0;
  }
}

/* ==== CONDITION ==== */
.condition {
  margin-bottom: 10px;
}
.condition [class="^col"] {
  width: 100%;
}
.condition select,
.condition input {
  width: 100%;
  margin-bottom: 5px;
}
@media only screen and (min-width: 45em) {
  /* 720px */
  .condition select,
  .condition input {
    margin-bottom: 0;
  }
}
/*common*/
.icon {
  color: #ccc;
  cursor: pointer;
}
.icon:hover {
  color: #555;
}
.collapsible__header {
  padding: 10px;
  background: #f7f7f7;
  border: 1px solid #a8a8a8;
  cursor: pointer;
  overflow: hidden;
  line-height: 1.2em;
}
.collapsible__header:after {
  display: table;
  clear: both;
  content: "";
}
.collapsible__content {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #a8a8a8;
  border-top: 0;
}
.objlist__empty {
  margin-top: 40px;
  text-align: center;
}
.objlist__add {
  margin-top: 20px;
  text-align: right;
}
.objlist {
  border: 1px solid #dfdfdf;
}
.objlist__content {
  padding: 20px;
}

.rulelist-Cart {
  display: none;
}

.rulelist__header {
  border-bottom: 1px solid #dfdfdf;
  background-color: #fcfcfc;
  overflow: hidden;
}
.rulelist__title {
  margin-left: 20px;
}
.rule {
  margin-bottom: 2px;
}
.rule > .collapsible__header {
  border-left: 5px solid #aaa;
}
.rule--active > .collapsible__header {
  border-left: 5px solid #118238;
}
.rule__sort-handle {
  margin-right: 10px;
}
.rule__title {
  font-weight: bold;
  word-break: break-word;
}
.rule__header-btns {
  float: right;
}
.rule__header-btns > button {
  border: none;
  background: transparent;
}
.rule-btn-remove:hover {
  color: red;
}
.conditionlist {
  margin-top: 5px;
}
