/* ==== GRID SYSTEM ==== */
.row {
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin-right: 1%;
}
.row [class^="col"]::last-child {
  margin-right: 0;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.hidden-xs {
  display: none;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  width: 100%;
}

.col-xs-1 {
  width: 4.33%;
}

.col-xs-2 {
  width: 12.66%;
}

.col-xs-3 {
  width: 21%;
}

.col-xs-4 {
  width: 29.33%;
}

.col-xs-5 {
  width: 37.66%;
}

.col-xs-6 {
  width: 49%;
}

.col-xs-7 {
  width: 54.33%;
}

.col-xs-8 {
  width: 62.66%;
}

.col-xs-9 {
  width: 71%;
}

.col-xs-10 {
  width: 79.33%;
}

.col-xs-11 {
  width: 87.66%;
}

.col-xs-12 {
  width: 96%;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
}

@media only screen and (min-width: 60em) {
  /* 720px */
  .row [class^="col"] {
    margin-right: 2%;
  }
  .col-md-1 {
    width: 4.33%;
  }

  .col-md-2 {
    width: 12.66%;
  }

  .col-md-3 {
    width: 23%;
  }

  .col-md-4 {
    width: 29.33%;
  }

  .col-md-5 {
    width: 37.66%;
  }

  .col-md-6 {
    width: 48%;
  }

  .col-md-7 {
    width: 54.33%;
  }

  .col-md-8 {
    width: 62.66%;
  }

  .col-md-9 {
    width: 74%;
  }

  .col-md-10 {
    width: 79.33%;
  }

  .col-md-11 {
    width: 87.66%;
  }

  .col-md-12 {
    width: 96%;
  }

  .hidden-xs {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
}

/* ==== FIELD ==== */
.field {
  position: relative;
  margin-bottom: 10px;
}
.field:after {
  content: "";
  display: table;
  clear: both;
}
.field label,
.field input[type="text"],
.field select {
  display: block;
  width: 100%;
  max-width: none;
}
.field label {
  font-weight: bold;
}
.field label::first-letter {
  text-transform: uppercase;
}
.field input[type="number"] {
  width: 5em;
}
.field__label {
  margin-bottom: 5px;
}
.field--text > .field__label {
  margin-bottom: 5px;
}
@media (min-width: 400px) {
  .field-checkbox .field__label,
  .field-checkbox .field__input {
    display: block;
  }
  .field-checkbox .field__label {
    margin-bottom: 0;
    vertical-align: top;
    float: left;
  }
  .field-checkbox .field__input {
    margin-bottom: 0;
    vertical-align: top;
    float: right;
  }
}
@media (min-width: 500px) {
  .field__label,
  .field__input {
    width: 50%;
  }
  .field__label {
    float: left;
  }
  .field__input {
    float: right;
  }
}

/*common*/
.icon {
  color: #ccc;
  cursor: pointer;
}
.icon:hover {
  color: #555;
}
button.icon {
  border: none;
  background: transparent;
}
.btn-remove:hover {
  color: red;
}
.sort-handle {
  margin-right: 10px;
}
.collapsible__header {
  padding: 10px;
  background: #f7f7f7;
  border: 1px solid #a8a8a8;
  cursor: pointer;
  overflow: hidden;
  line-height: 1.2em;
}
.collapsible__header:after {
  display: table;
  clear: both;
  content: "";
}
.collapsible__content {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #a8a8a8;
  border-top: 0;
}
.objlist__empty {
  margin-top: 40px;
  text-align: center;
}
.objlist__add {
  margin-top: 20px;
  text-align: right;
}
.objlist__add > .button {
  margin-left: 10px;
}
.objlist {
  border: 1px solid #dfdfdf;
}
.objlist__content {
  padding: 20px;
}

.rulelist-Cart {
  display: none;
}

.rulelist__header {
  border-bottom: 1px solid #dfdfdf;
  background-color: #fcfcfc;
  overflow: hidden;
}
.rulelist__title {
  margin-left: 20px;
}
.rule {
  margin-bottom: 2px;
}
.rule--dragging > .collapsible__header {
  border: 2px dotted #a8a8a8;
}
.rule > .collapsible__header {
  border-left: 5px solid #aaa;
}
.rule--active > .collapsible__header {
  border-left: 5px solid #118238;
}

.rule__title {
  font-weight: bold;
  word-break: break-word;
}
.rule__header-btns {
  float: right;
}

.conditionlist {
  margin-top: 5px;
  background: #fcfcfc;
}
.condition {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.condition > div {
  margin: 0 0 5px 0;
}
@media (min-width: 650px) {
  .condition {
    display: flex;
    flex-flow: row nowrap;
  }
  .condition > div {
    margin: 0 5px 0 0;
  }
  .condition__key {
    width: 25%;
  }
  .condition__op {
    width: 25%;
  }
  .condition__val {
    width: 44%;
    flex-grow: 2;
  }
  .condition__remove {
    width: 5%;
  }
}
@media (min-width: 1280px) {
  .condition__key {
    width: 23%;
  }
  .condition__op {
    width: 17%;
  }
  .condition__val {
    width: 54%;
    flex-grow: 2;
  }
  .condition__remove {
    width: 3%;
  }
}
.product-select {
  width: 100%;
}
.product-select input:focus {
  box-shadow: none !important;
}
