.condition {
  margin-bottom: 10px;
}
.part {
  width: 100%;
  margin-bottom: 5px;
}
.part input,
.part select {
  width: 100%;
}
.removeBtn {
  width: auto;
}
@media (min-width: 600px) {
  .part {
    display: inline-block;
    margin-right: 5px;
    width: auto;
  }
  .key {
    width: 100px;
  }
  .operator {
    width: 80px;
  }
  .value {
    width: 350px;
  }
}
