.field {
  width: 100%;
  margin-bottom: 10px;
}
.field label {
  font-weight: bold;
}
.field label::first-letter {
  text-transform: uppercase;
}
.field label,
.field input[type="text"],
.field select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.horizontalField label,
.horizontalField input,
.horizontalField select {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
}
.horizontalField label {
  width: 60%;
  display: tabel-cell;
}
.field input[type="number"] {
  width: 5em;
}
@media (min-width: 500px) {
  .field label,
  .field input[type="text"],
  .field select {
    display: inline-block;
    margin-bottom: 0;
  }
  .field label {
    width: 35%;
  }
  .field input[type="text"],
  .field select {
    width: 63%;
  }
}
@media (min-width: 800px) {
  .md {
    vertical-align: top;
  }
  .md6 {
    width: 48%;
    margin-right: 2%;
  }
  .md3 {
    width: 23%;
    margin-right: 2%;
  }
}
