/* ==== GRID SYSTEM ==== */
.row {
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin-right: 1%;
}
.row [class^="col"]::last-child {
  margin-right: 0;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.hidden-xs {
  display: none;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  width: 100%;
}

.col-xs-1 {
  width: 4.33%;
}

.col-xs-2 {
  width: 12.66%;
}

.col-xs-3 {
  width: 21%;
}

.col-xs-4 {
  width: 29.33%;
}

.col-xs-5 {
  width: 37.66%;
}

.col-xs-6 {
  width: 49%;
}

.col-xs-7 {
  width: 54.33%;
}

.col-xs-8 {
  width: 62.66%;
}

.col-xs-9 {
  width: 71%;
}

.col-xs-10 {
  width: 79.33%;
}

.col-xs-11 {
  width: 87.66%;
}

.col-xs-12 {
  width: 96%;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
}

@media only screen and (min-width: 45em) {
  /* 720px */
  .row [class^="col"] {
    margin-right: 2%;
  }
  .col-md-1 {
    width: 4.33%;
  }

  .col-md-2 {
    width: 12.66%;
  }

  .col-md-3 {
    width: 23%;
  }

  .col-md-4 {
    width: 29.33%;
  }

  .col-md-5 {
    width: 37.66%;
  }

  .col-md-6 {
    width: 48%;
  }

  .col-md-7 {
    width: 54.33%;
  }

  .col-md-8 {
    width: 62.66%;
  }

  .col-md-9 {
    width: 74%;
  }

  .col-md-10 {
    width: 79.33%;
  }

  .col-md-11 {
    width: 87.66%;
  }

  .col-md-12 {
    width: 96%;
  }

  .hidden-xs {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
}

/* ==== FIELD ==== */
.field {
  margin-bottom: 10px;
}
.field label,
.field input[type="text"],
.field select {
  display: block;
  width: 100%;
}
.field label {
  font-weight: bold;
}
.field label::first-letter {
  text-transform: uppercase;
}
.field input[type="text"] {
  margin-top: 10px;
}
.field input[type="number"] {
  width: 5em;
}
@media only screen and (min-width: 45em) {
  .field input[type="text"] {
    margin-top: 0;
  }
}

/* ==== CONDITION ==== */
.condition {
  margin-bottom: 10px;
}
.condition [class="^col"] {
  width: 100%;
}
.condition select,
.condition input {
  width: 100%;
  margin-bottom: 5px;
}
@media only screen and (min-width: 45em) {
  /* 720px */
  .condition select,
  .condition input {
    margin-bottom: 0;
  }
}


